# SUPABASE
VITE_SUPABASE_URL=https://khpgjfsaucrhihadnewq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_vCHb3qkMgTI0E5nk54jK3w_3XdtvPp4

# CLOUDINARY
VITE_CLOUDINARY_CLOUD_NAME=ddsxo8hmf
VITE_CLOUDINARY_UPLOAD_PRESET=deeraindonesia

#
VITE_VAPID_PUBLIC_KEY=BJ2J2sizm5poGsQ2KiTk_tzup1N3IjFiIM5Tn3H5z2-EVU6emmr3XwUtGfAkhJ0poJFs5I58cl1IFBonqUAkEkk