# SUPABASE
VITE_SUPABASE_URL=https://khpgjfsaucrhihadnewq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_vCHb3qkMgTI0E5nk54jK3w_3XdtvPp4

# CLOUDINARY
VITE_CLOUDINARY_CLOUD_NAME=ddsxo8hmf
VITE_CLOUDINARY_UPLOAD_PRESET=deeraindonesia
